[class*=__container] {
  max-width: 79.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  color: #000;
}

@font-face {
  font-family: "fonts";
  src: url("../fonts/fonts.woff?nh4ngm") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "fonts" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-cross:before {
  content: "\e90d";
  color: #fff;
}

._icon-s-instagram:before {
  content: "\e900";
}

._icon-star:before {
  content: "\e901";
}

._icon-star-half:before {
  content: "\e902";
}

._icon-h-more:before {
  content: "\e903";
}

._icon-h-search:before {
  content: "\e904";
}

._icon-h-basked:before {
  content: "\e905";
}

._icon-h-user:before {
  content: "\e906";
}

._icon-check:before {
  content: "\e907";
}

._icon-mail:before {
  content: "\e908";
}

._icon-s-twiter:before {
  content: "\e909";
}

._icon-s-facebook:before {
  content: "\e90a";
}

._icon-s-git:before {
  content: "\e90b";
}

._icon-arrow:before {
  content: "\e90c";
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Integral CF";
  src: url("../fonts/FONTSPRINGDEMO-IntegralCFBoldRegular.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: Satoshi, sans-serif;
  font-weight: 400;
}

.title {
  font-size: 3rem;
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 47.99875em) {
  .title {
    font-size: 2rem;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body > *:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.top-bar__wrappper {
  background-color: #000000;
}
.top-bar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  position: relative;
}
.top-bar__text {
  font-size: 0.875rem;
  padding: 0.625rem;
  line-height: 1.35;
}
@media (max-width: 47.99875em) {
  .top-bar__text {
    font-size: 0.875rem;
    text-align: center;
    line-height: 1;
  }
}
.top-bar__link {
  text-decoration: underline;
  font-weight: 500;
}
.top-bar__cross {
  position: absolute;
  top: 50%;
  right: 0.9375rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.top-bar__cross::before {
  font-size: 0.8125rem;
}
@media (max-width: 47.99875em) {
  .top-bar__cross::before {
    display: none;
  }
}

header {
  width: 100%;
  min-height: 8.4375rem;
}
@media (max-width: 47.99875em) {
  header {
    min-height: 6.1875rem;
  }
}

.header {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.header__wrapper {
  padding: 1.5rem 0;
  position: relative;
}
@media (max-width: 47.99875em) {
  .header__wrapper {
    padding: 1.25rem 0;
  }
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 61.99875em) {
  .header__row {
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
  }
}
@media (max-width: 47.99875em) {
  .header__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 47.99875em) {
  .header__burger {
    display: block;
    width: 1.5625rem;
    height: 1.125rem;
    margin-bottom: -0.3125rem;
    padding: 0.375rem 0.25rem;
    overflow: hidden;
  }
}
.header__logo-text {
  font-size: 2rem;
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 61.99875em) {
  .header__logo-text {
    font-size: 1.5625rem;
  }
}
@media (max-width: 47.99875em) {
  .header__logo-text {
    margin-right: auto;
  }
}
@media (max-width: 47.99875em) {
  .header__nav {
    position: fixed;
    width: 40%;
    left: -200%;
    top: 0;
    z-index: 3;
    height: 100%;
    background-color: rgb(255, 255, 255);
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__nav.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    left: 0;
  }
}
@media (max-width: 47.99875em) and (max-width: 37.5em) {
  .header__nav {
    width: 60%;
  }
}
@media (max-width: 47.99875em) and (max-width: 31.25em) {
  .header__nav {
    width: 100%;
  }
}
.header__search {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__favorite {
  position: relative;
}

.burger-header {
  position: relative;
  z-index: 4;
}
.burger-header__border {
  width: calc(100% - 0.375rem);
  height: 0.125rem;
  background-color: #000000;
  border-radius: 0.9375rem;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.burger-header__border:nth-child(1) {
  top: 0;
}
.burger-header__border:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.burger-header__border:nth-child(3) {
  bottom: 0;
}
.burger-header.active .burger-header__border {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.burger-header.active .burger-header__border:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger-header.active .burger-header__border:nth-child(2) {
  -webkit-transform: translateX(-150%);
      -ms-transform: translateX(-150%);
          transform: translateX(-150%);
  opacity: 0;
}
.burger-header.active .burger-header__border:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

.nav-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}
@media (max-width: 61.99875em) {
  .nav-header__list {
    gap: 0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .nav-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1.25rem;
    gap: 1rem;
    padding-top: 6.25rem;
    font-size: 1.25rem;
  }
}
@media (max-width: 26.5625em) {
  .nav-header__list {
    padding-top: 8.125rem;
  }
}
.nav-header__item {
  position: relative;
}
.nav-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 0.375rem;
  position: relative;
  line-height: 1.2;
}
.nav-header__link::before {
  font-size: 0.375rem;
  margin-top: 0.125rem;
}
.nav-header__link:hover + .nav-header__sublist {
  display: block;
}
.nav-header__link:focus + .nav-header__sublist {
  display: block;
}
@media (any-hover: hover) {
  .nav-header__link:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}
.nav-header__sublist {
  position: absolute;
  top: 1.25rem;
  left: -0.9375rem;
  z-index: 2;
  background-color: #ffffff;
  border: 1px solid #000;
  padding: 0.625rem 0.9375rem 0.9375rem 0.625rem;
  border-radius: 0.5rem;
  display: none;
}
.nav-header__sublist:hover {
  display: block;
}

.nav-header-sublist__item {
  padding: 0.1875rem 0;
}
@media (any-hover: hover) {
  .nav-header-sublist__link:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

.search-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3.875rem;
  background-color: #f0f0f0;
  padding: 0.8125rem 1rem;
}
@media (max-width: 47.99875em) {
  .search-header {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 0;
    background-color: inherit;
  }
  .search-header.active {
    background-color: #f0f0f0;
    padding: 0.625rem 1rem;
    position: absolute;
    z-index: 2;
    top: -0.625rem;
    left: -8.125rem;
  }
}
@media (max-width: 61.99875em) {
  .search-header__input {
    font-size: 0.875rem;
  }
}
@media (max-width: 47.99875em) {
  .search-header__input {
    display: none;
  }
  .search-header__input.active {
    display: block;
  }
}
.search-header__button {
  margin-right: 0.875rem;
}
@media (max-width: 61.99875em) {
  .search-header__button {
    margin-right: 0.5rem;
  }
  .search-header__button::before {
    font-size: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .search-header__button {
    margin-right: 0;
  }
  .search-header__button.active {
    margin-right: 0.5rem;
  }
}
.favorite-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
}
@media (max-width: 47.99875em) {
  .favorite-header {
    gap: 0.875rem;
  }
}
.footer__wrapper {
  background-color: #f0f0f0;
}
.footer__main {
  margin-bottom: 3.125rem;
}
@media (max-width: 61.99875em) {
  .footer__main {
    margin-bottom: 2.5rem;
  }
}
.footer__border-line {
  margin-bottom: 1.25rem;
  height: 0.0625rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
@media (max-width: 61.99875em) {
  .footer__border-line {
    margin-bottom: 1rem;
  }
}
@media (max-width: 47.99875em) {
  .subscribe-footer {
    margin-bottom: -5.625rem;
  }
}
.subscribe-footer__wrapper {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.subscribe-footer__row {
  background-color: #000;
  border-radius: 1.25rem;
  padding: 2.3125rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}
@media (max-width: 61.99875em) {
  .subscribe-footer__row {
    padding: 2rem 1.5rem;
  }
}
@media (max-width: 47.99875em) {
  .subscribe-footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.subscribe-footer__title {
  color: #fff;
  font-size: 2.5rem;
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  line-height: 1.12; /* 45/40 */
  max-width: 36.25rem;
}
@media (max-width: 61.99875em) {
  .subscribe-footer__title {
    font-size: 2rem;
  }
}
@media (max-width: 47.99875em) {
  .subscribe-footer__title {
    text-align: center;
  }
}
@media (max-width: 61.99875em) {
  .subscribe-footer__form {
    font-size: 0.875rem;
  }
}
.subscribe-footer__form > * {
  width: 21.8125rem;
}
@media (max-width: 61.99875em) {
  .subscribe-footer__form > * {
    width: 15.625rem;
  }
}
.subscribe-footer__form-label {
  color: rgba(0, 0, 0, 0.4);
  background-color: #fff;
  border-radius: 3.875rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.875rem;
  padding: 0.75rem 1rem;
  margin-bottom: 0.875rem;
}
.subscribe-footer__form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.1875rem 0rem;
}
.subscribe-footer__form-button {
  background-color: #fff;
  padding: 0.9375rem 1rem;
  max-width: 21.8125rem;
  border-radius: 3.875rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 61.99875em) {
  .main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.main-footer__social {
  max-width: 15.5rem;
}
.social-footer__title {
  margin-bottom: 1.5625rem;
  font-size: 2.0625rem;
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
}
.social-footer__text {
  margin-bottom: 2.1875rem;
  font-size: 0.875rem;
  font-family: "Satoshi", sans-serif;
  line-height: 1.57; /* 22/14 */
}
.social-footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}
.social-footer__icon {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  border: 0.0625rem solid rgba(0, 0, 0, 0.6);
  position: relative;
}
.social-footer__icon::before {
  font-size: 0.875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.social-footer__icon:nth-child(2) {
  color: #fff;
  background-color: #000;
}
.social-footer__icon:nth-child(2)::before {
  font-size: 1.25rem;
  top: 65%;
}

.info-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}
@media (max-width: 61.99875em) {
  .info-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2.5rem;
    -ms-flex-preferred-size: 45rem;
        flex-basis: 45rem;
  }
}
@media (max-width: 47.99875em) {
  .info-footer {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
}
.info-footer__title {
  font-weight: 500;
  line-height: 1.12; /* 18/16 */
  margin-bottom: 1.625rem;
  letter-spacing: 0.1875rem;
}
.info-footer__link {
  color: rgba(0, 0, 0, 0.6);
  line-height: 2.3;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.info-footer__link:hover {
  color: rgba(0, 0, 0, 0.5);
}

.bottom-footer {
  padding-bottom: 5.0625rem;
}
@media (max-width: 47.99875em) {
  .bottom-footer {
    padding-bottom: 4.8125rem;
  }
}
.bottom-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}
@media (max-width: 47.99875em) {
  .bottom-footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.bottom-footer__info-text {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.6);
}
.bottom-footer__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}
@media (max-width: 47.99875em) {
  .bottom-footer__cards {
    gap: 0.625rem;
  }
}
.bottom-footer__card {
  width: 2.875rem;
  height: 1.875rem;
  background-color: #fff;
  border-radius: 0.3125rem;
  position: relative;
}
.bottom-footer__card > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 47.99875em) {
  .bottom-footer__card {
    width: 2.5rem;
    height: 1.625rem;
  }
}

.hero__wrapper {
  background-color: #f0f0f0;
}
.hero__container {
  padding-top: 6.4375rem;
  overflow: hidden;
}
@media (max-width: 61.99875em) {
  .hero__container {
    padding-top: 3.75rem;
  }
}
@media (max-width: 47.99875em) {
  .hero__container {
    padding-top: 2.5rem;
  }
}
.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
@media (max-width: 47.99875em) {
  .hero__row {
    display: block;
  }
}
.hero__info {
  max-width: 37.25rem;
}
@media (max-width: 47.99875em) {
  .hero__info {
    max-width: none;
  }
}
.hero__wrapper-image {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  min-width: 31.5625rem;
}
@media (max-width: 61.99875em) {
  .hero__wrapper-image {
    min-width: 25rem;
  }
}
.hero__image > img {
  width: 100%;
  display: block;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 47.99875em) {
  .info-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.info-hero__title {
  margin-bottom: 2rem;
  font-size: 4rem;
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
}
@media (max-width: 75em) {
  .info-hero__title {
    font-size: 3.125rem;
  }
}
@media (max-width: 61.99875em) {
  .info-hero__title {
    font-size: 2.25rem;
  }
}
.info-hero__text {
  margin-bottom: 2rem;
  line-height: 1.37; /* 22/16 */
  color: rgba(0, 0, 0, 0.6);
}
.info-hero__shop {
  margin-bottom: 3rem;
  border-radius: 3.875rem;
  background-color: #000;
  color: #fff;
  padding: 1rem 3.375rem;
  text-align: center;
}
@media (max-width: 47.99875em) {
  .info-hero__shop {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
.info-hero__stats {
  padding-bottom: 7.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 75em) {
  .info-hero__stats {
    padding-bottom: 2.5rem;
  }
}
@media (max-width: 47.99875em) {
  .info-hero__stats {
    padding-bottom: 1.875rem;
  }
}

.stats-hero {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}
@media (max-width: 61.99875em) {
  .stats-hero {
    gap: 0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .stats-hero {
    gap: 0.75rem;
  }
}
.stats-hero__number {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}
@media (max-width: 61.99875em) {
  .stats-hero__number {
    font-size: 1.5625rem;
  }
}
.stats-hero__info-text {
  line-height: 1.37; /* 22/16 */
  color: rgba(0, 0, 0, 0.6);
}
.stats-hero__border {
  width: 0.0625rem;
  max-height: 100px;
  background-color: rgba(0, 0, 0, 0.1);
}

.brands__wrapper {
  background-color: #000;
}
.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  padding: 2.75rem 0;
}
@media (max-width: 61.99875em) {
  .brands__row {
    padding: 2.4375rem 0;
  }
}
@media (max-width: 47.99875em) {
  .brands__row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.brands__row > img {
  height: 22px;
}

.arrivals__container::after {
  content: "";
  width: 100%;
  height: 0.0625rem;
  background-color: rgba(0, 0, 0, 0.1);
}
@media (max-width: 47.99875em) {
  .arrivals__container {
    padding-right: 0rem;
  }
}
.arrivals__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.arrivals__title {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 4.5rem 0 3.4375rem 0;
}
@media (max-width: 47.99875em) {
  .arrivals__title {
    margin: 3.125rem 0 2rem 0;
  }
}
.arrivals__cards {
  margin-bottom: 2.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: 1.25rem;
}
@media (max-width: 47.99875em) {
  .arrivals__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 1.5rem;
    gap: 1rem;
  }
}
.arrivals__button-oll {
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 4rem;
  padding: 1rem 4rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3.875rem;
  font-weight: 500;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
}
@media (any-hover: hover) {
  .arrivals__button-oll:hover {
    -webkit-transition: color ease 0.3s;
    transition: color ease 0.3s;
    color: rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 47.99875em) {
  .arrivals__button-oll {
    margin-bottom: 2.5rem;
    font-size: 0.875rem;
  }
}
@media (max-width: 34.375em) {
  .arrivals__button-oll {
    width: 100%;
  }
}

.card-arrivals__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5rem;
  max-width: 18.625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
@media (max-width: 47.99875em) {
  .card-arrivals__card {
    max-width: 12.5rem;
  }
  .card-arrivals__card:last-child {
    margin-right: 0.9375rem;
  }
}
.card-arrivals__image {
  margin-bottom: 0.5rem;
  background-color: #f0eeed;
  border-radius: 1.25rem;
  overflow: hidden;
}
.card-arrivals__image > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}
.card-arrivals__title {
  font-size: 1.25rem;
  font-weight: 700;
}
@media (max-width: 47.99875em) {
  .card-arrivals__title {
    font-size: 1rem;
  }
}
.rate-card-arrivals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}
.rate-card-arrivals__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
}
.rate-card-arrivals__star::before {
  font-size: 1.125rem;
  color: #ffc633;
}
@media (max-width: 47.99875em) {
  .rate-card-arrivals__star::before {
    font-size: 0.9375rem;
  }
}
.rate-card-arrivals__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
}
@media (max-width: 47.99875em) {
  .rate-card-arrivals__numbers {
    font-size: 0.75rem;
  }
}
.rate-card-arrivals__number-max {
  color: rgba(0, 0, 0, 0.6);
}

.price-card-arrivals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}
@media (max-width: 47.99875em) {
  .price-card-arrivals {
    -webkit-column-gap: 0.3125rem;
       -moz-column-gap: 0.3125rem;
            column-gap: 0.3125rem;
  }
}
.price-card-arrivals__price {
  font-size: 1.5rem;
  font-weight: 700;
}
@media (max-width: 47.99875em) {
  .price-card-arrivals__price {
    font-size: 1.25rem;
  }
}
.price-card-arrivals__old-price {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 47.99875em) {
  .price-card-arrivals__old-price {
    font-size: 1.25rem;
  }
}
.price-card-arrivals__sale-percent {
  color: #ff3333;
  font-size: 0.75rem;
  font-weight: 500;
  width: 100%;
  padding: 0.375rem 0.875rem;
  border-radius: 3.875rem;
  background-color: rgba(255, 51, 51, 0.1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.625rem;
          flex: 0 0 3.625rem;
}
@media (max-width: 47.99875em) {
  .price-card-arrivals__sale-percent {
    font-size: 0.625rem;
  }
}

@media (max-width: 47.99875em) {
  .selling__container {
    padding-right: 0rem;
  }
}
.selling__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.selling__title {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 4.5rem 0 3.4375rem 0;
}
.selling__cards {
  margin-bottom: 2.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: 1.25rem;
}
@media (max-width: 47.99875em) {
  .selling__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    margin-bottom: 1.5rem;
    gap: 1rem;
  }
}
.selling__button-oll {
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 5rem;
  padding: 1rem 4rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3.875rem;
  font-weight: 500;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
}
@media (any-hover: hover) {
  .selling__button-oll:hover {
    -webkit-transition: color ease 0.3s;
    transition: color ease 0.3s;
    color: rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 47.99875em) {
  .selling__button-oll {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 34.375em) {
  .selling__button-oll {
    width: 100%;
  }
}

.styles__container {
  margin-bottom: 5rem;
}
@media (max-width: 47.99875em) {
  .styles__container {
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 34.375em) {
  .styles__container {
    padding: 0;
  }
}
.styles__wrapper {
  background-color: #f0f0f0;
  border-radius: 2.5rem;
  padding: 4.375rem 4rem 4.75rem 4rem;
}
@media (max-width: 61.99875em) {
  .styles__wrapper {
    padding: 3.4375rem 2.75rem 3.125rem 2.75rem;
  }
}
@media (max-width: 47.99875em) {
  .styles__wrapper {
    padding: 2.5rem 1.5rem 1.6875rem 1.5rem;
  }
}
.styles__title {
  padding: 0 0.9375rem;
  text-align: center;
  margin-bottom: 4rem;
}
.styles__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}
.styles__grid > :nth-child(4n), .styles__grid > :nth-child(4n+1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
}
@media (max-width: 68.75em) {
  .styles__grid > :nth-child(4n), .styles__grid > :nth-child(4n+1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}
@media (max-width: 61.99875em) {
  .styles__grid > :nth-child(4n), .styles__grid > :nth-child(4n+1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
}
.styles__grid > :not(:nth-child(4n)):not(:nth-child(4n+1)) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(68% - 1.25rem);
          flex: 0 0 calc(68% - 1.25rem);
}
@media (max-width: 68.75em) {
  .styles__grid > :not(:nth-child(4n)):not(:nth-child(4n+1)) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(60% - 1.25rem);
            flex: 0 0 calc(60% - 1.25rem);
  }
}
@media (max-width: 61.99875em) {
  .styles__grid > :not(:nth-child(4n)):not(:nth-child(4n+1)) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(55% - 1.25rem);
            flex: 0 0 calc(55% - 1.25rem);
  }
}
@media (max-width: 47.99875em) {
  .styles__grid {
    display: block;
  }
  .styles__grid > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.card-styles {
  max-height: 18.0625rem;
  overflow: hidden;
  border-radius: 1.25rem;
  background-color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-styles__title {
  font-size: 2.25rem;
  font-weight: 700;
  z-index: 2;
  padding: 1.5625rem 2.25rem;
}
@media (max-width: 47.99875em) {
  .card-styles__title {
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
  }
}
.card-styles__image > img {
  -o-object-position: 15px;
     object-position: 15px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: scale(1.7);
      -ms-transform: scale(1.7);
          transform: scale(1.7);
}
@media (max-width: 28.125em) {
  .card-styles__image > img {
    -o-object-position: 0;
       object-position: 0;
  }
}

.clients {
  overflow: hidden;
}
.clients__container {
  padding: 0 0.9375rem;
  margin-bottom: 5rem;
}
@media (max-width: 47.99875em) {
  .clients__container {
    margin-bottom: 3.125rem;
  }
}
.clients__swiper-button-next::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.clients__swiper {
  overflow: visible;
  scrollbar-width: none;
}
.top-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-clients__title {
  margin-bottom: 2.5rem;
}
@media (max-width: 47.99875em) {
  .top-clients__title {
    margin-bottom: 1.5rem;
  }
}
.top-clients__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3125rem;
  font-size: 1rem;
}

.response-clients__wrapper {
  max-width: 25rem;
  padding: 1.75rem 2rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 47.99875em) {
  .response-clients__wrapper {
    padding: 1.5rem;
  }
}
@media (max-width: 31.25em) {
  .response-clients__wrapper {
    max-width: none;
  }
}
.response-clients__scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.375rem;
  font-size: 1.375rem;
  margin-bottom: 0.9375rem;
}
.response-clients__scores > ::before {
  color: #ffc633;
}
@media (max-width: 47.99875em) {
  .response-clients__scores {
    margin-bottom: 0.75rem;
    font-size: 1.1875rem;
  }
}
.response-clients__user-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.375rem;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.1; /* 22/20 */
}
.response-clients__user-name::before {
  color: #01ab31;
  font-size: 1.1875rem;
  margin-bottom: -0.3125rem;
}
@media (max-width: 47.99875em) {
  .response-clients__user-name {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
.response-clients__user-text {
  line-height: 1.37; /* 22/16 */
  color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 47.99875em) {
  .response-clients__user-text {
    font-size: 0.875rem;
    line-height: 1.42; /* 20/14 */
  }
}

.pagination__border {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.6);
}
.pagination__list {
  padding: 1.5rem 0 2.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  color: rgba(0, 0, 0, 0.6);
}
.pagination__item:last-child {
  color: #000;
}
.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  text-transform: capitalize;
  padding: 0.1875rem 0;
}
.pagination__link::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 0.4375rem;
  -webkit-margin-before: 0.25rem;
          margin-block-start: 0.25rem;
}

.product__container {
  margin-bottom: 5rem;
}
@media (max-width: 47.99875em) {
  .product__container {
    margin-bottom: 3.125rem;
  }
}
.product__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
@media (max-width: 61.99875em) {
  .product__row {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (max-width: 40.625em) {
  .product__row {
    display: block;
  }
}
.product__images {
  max-width: 38.125rem;
  width: 50%;
  cursor: pointer;
}
@media (max-width: 40.625em) {
  .product__images {
    width: auto;
    margin-bottom: 1.25rem;
  }
}
.product__info {
  width: 50%;
}
@media (max-width: 40.625em) {
  .product__info {
    width: auto;
  }
}

.images-product__grid {
  display: grid;
  grid-template-columns: 9.5rem 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 0.875rem;
  max-height: 33.125rem;
}
@media (max-width: 61.99875em) {
  .images-product__grid {
    grid-template-columns: 6.25rem 1fr;
    gap: 0.75rem;
  }
}
@media (max-width: 61.99875em) {
  .images-product__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-height: none;
  }
}
.images-product__image {
  max-width: 9.5rem;
  border-radius: 1.25rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
@media (max-width: 61.99875em) {
  .images-product__image {
    max-width: none;
  }
}
.images-product__image > img {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  height: 100%;
}
.images-product__image:nth-child(3) {
  border: 1px solid #000;
}
.images-product__main-image {
  grid-row: 1/4;
  grid-column: 2/4;
  max-width: 27.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}
@media (max-width: 61.99875em) {
  .images-product__main-image {
    grid-row: 1/3;
    grid-column: 1/4;
  }
}
@media (max-width: 40.625em) {
  .images-product__main-image {
    max-width: none;
  }
}
.images-product__main-image > img {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  height: 100%;
}

.info-product__title {
  font-size: 2.5rem;
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  line-height: 1.16; /* 28/24 */
  text-transform: uppercase;
  margin-bottom: 0.875rem;
}
@media (max-width: 61.99875em) {
  .info-product__title {
    font-size: 2rem;
  }
}
@media (max-width: 47.99875em) {
  .info-product__title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
}
.info-product__scores {
  margin-bottom: 0.875rem;
}
@media (max-width: 47.99875em) {
  .info-product__scores {
    margin-bottom: 0.75rem;
  }
}
.info-product__price {
  margin-bottom: 1.25rem;
}
.info-product__info-text {
  line-height: 1.37; /* 22/16 */
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 1.5rem;
}
@media (max-width: 47.99875em) {
  .info-product__info-text {
    font-size: 0.875rem;
    line-height: 1.42; /* 20/14 */
  }
}
.info-product__border {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}
.info-product__colors {
  margin-bottom: 1.5rem;
}
.info-product__size {
  margin-bottom: 1.5rem;
}
.scores-info-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.scores-info-product__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4375rem;
}
.scores-info-product__star {
  font-size: 1.5rem;
  color: #ffc633;
}
@media (max-width: 47.99875em) {
  .scores-info-product__star {
    font-size: 1.1875rem;
  }
}
.scores-info-product__scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 47.99875em) {
  .scores-info-product__scores {
    font-size: 0.875rem;
  }
}
.scores-info-product__score:last-child {
  color: rgba(0, 0, 0, 0.6);
}

.price-info-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}
.price-info-product__price {
  font-size: 2rem;
  font-weight: 700;
}
@media (max-width: 47.99875em) {
  .price-info-product__price {
    font-size: 1.5rem;
  }
}
.price-info-product__price-half {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 47.99875em) {
  .price-info-product__price-half {
    font-size: 1.5rem;
  }
}
.price-info-product__sale-percent {
  color: #f33;
  font-weight: 500;
  border-radius: 3.875rem;
  padding: 0.375rem 0.875rem;
  background-color: rgba(255, 51, 51, 0.1);
}
@media (max-width: 47.99875em) {
  .price-info-product__sale-percent {
    font-size: 0.875rem;
    padding: 0.375rem 0.75rem;
  }
}

.colors-info-product__title {
  color: rgba(0, 0, 0, 0.6);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.colors-info-product__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}
@media (max-width: 47.99875em) {
  .colors-info-product__colors {
    gap: 0.75rem;
  }
}
.colors-info-product__color {
  width: 2.3125rem;
  height: 2.3125rem;
  border-radius: 50%;
  cursor: pointer;
}
.colors-info-product__color:nth-child(1) {
  background-color: #4f4631;
  position: relative;
}
.colors-info-product__color.active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../images/product/flag.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 0.8125rem;
  height: 0.5625rem;
}
@media (max-width: 47.99875em) {
  .colors-info-product__color.active::before {
    width: 0.875rem;
    height: 0.625rem;
  }
}
.colors-info-product__color:nth-child(2) {
  background-color: #314f4a;
  position: relative;
}
.colors-info-product__color:nth-child(3) {
  position: relative;
  background-color: #31344f;
}
@media (max-width: 47.99875em) {
  .colors-info-product__color {
    width: 2.4375rem;
    height: 2.4375rem;
  }
}

.size-info-product__title {
  color: rgba(0, 0, 0, 0.6);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.size-info-product__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.75rem;
}
@media (max-width: 47.99875em) {
  .size-info-product__buttons {
    gap: 0.5rem;
  }
}
.size-info-product__button {
  padding: 0.75rem 1.5rem;
  border-radius: 3.875rem;
  background-color: #f0f0f0;
  color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 47.99875em) {
  .size-info-product__button {
    font-size: 0.875rem;
    padding: 0.625rem 1.25rem;
  }
}
.size-info-product__button.active {
  font-weight: 500;
  color: #fff;
  background-color: #000;
}

.add-info-product__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
@media (max-width: 47.99875em) {
  .add-info-product__row {
    gap: 0.75rem;
  }
}
.add-info-product__button-add {
  font-weight: 500;
  color: #fff;
  background-color: #000;
  padding: 1rem 1.25rem;
  border-radius: 3.875rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem 1.25rem;
}
@media (max-width: 47.99875em) {
  .add-info-product__button-add {
    font-size: 0.875rem;
  }
}

.count-add-info-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.125rem;
  border-radius: 3.875rem;
  background-color: #f0f0f0;
}
.count-add-info-product__minus {
  font-size: 2.5rem;
  margin-top: -0.4375rem;
  padding: 0.5rem 1.25rem;
}
@media (max-width: 47.99875em) {
  .count-add-info-product__minus {
    padding: 0.4375rem 1.25rem;
  }
}
.count-add-info-product__count {
  font-weight: 500;
  pointer-events: none;
}
.count-add-info-product__plus {
  padding: 0.5rem 1.25rem;
  font-size: 1.875rem;
}
@media (max-width: 47.99875em) {
  .count-add-info-product__plus {
    padding: 0.4375rem 1.25rem;
  }
}

.header-tabs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-tabs__title {
  font-size: 1.25rem;
  line-height: 1.1; /* 22/20 */
  color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}
@media (max-width: 47.99875em) {
  .header-tabs__title {
    font-size: 1rem;
  }
}
.header-tabs__title::after {
  content: "";
  width: 100%;
  height: 0.125rem;
  background-color: rgba(0, 0, 0, 0.1);
}
.header-tabs__title.active {
  font-weight: 500;
  color: #000;
}
.header-tabs__title.active::after {
  content: "";
  width: 100%;
  height: 0.125rem;
  background-color: rgb(0, 0, 0);
}

.reviews-tabs__header {
  margin: 1.5rem 0;
}
@media (max-width: 47.99875em) {
  .reviews-tabs__header {
    margin-bottom: 1.25rem 0;
  }
}
.reviews-tabs__main {
  margin-bottom: 2.25rem;
}
@media (max-width: 47.99875em) {
  .reviews-tabs__main {
    margin-bottom: 1.25rem;
  }
}
.reviews-tabs__button-more {
  padding: 1rem 3.375rem;
  border-radius: 3.875rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  display: block;
  font-weight: 500;
  margin: 0 auto 4rem;
}
@media (max-width: 47.99875em) {
  .reviews-tabs__button-more {
    font-size: 0.875rem;
    padding: 0.875rem 2.25rem;
    margin: 0 auto 3.0625rem;
  }
}

.header-reviews-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}
.header-reviews-tabs__title {
  font-size: 1.5rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 0.5rem;
}
@media (max-width: 47.99875em) {
  .header-reviews-tabs__title {
    font-size: 1.25rem;
    gap: 0.375rem;
  }
}
.header-reviews-tabs__title-number {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.37; /* 22/16 */
}
@media (max-width: 47.99875em) {
  .header-reviews-tabs__title-number {
    font-size: 0.875rem;
  }
}
.filters-header-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
@media (max-width: 47.99875em) {
  .filters-header-tabs {
    gap: 0.5rem;
  }
}
.filters-header-tabs__icon {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #f0f0f0;
  position: relative;
}
.filters-header-tabs__icon > img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1.5rem;
}
@media (max-width: 47.99875em) {
  .filters-header-tabs__icon > img {
    width: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .filters-header-tabs__icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.filters-header-tabs__latest {
  padding: 1rem 1.25rem;
  border-radius: 3.875rem;
  background-color: #f0f0f0;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.4375rem;
}
.filters-header-tabs__latest::before {
  font-size: 0.375rem;
  margin-top: 0.25rem;
}
@media (max-width: 47.99875em) {
  .filters-header-tabs__latest {
    padding: 0.75rem 1.25rem;
  }
}
@media (max-width: 37.5em) {
  .filters-header-tabs__latest {
    display: none;
  }
}
.filters-header-tabs__button-write {
  padding: 1rem 1.25rem;
  border-radius: 3.875rem;
  background-color: #000;
  color: #fff;
  font-weight: 500;
}
@media (max-width: 47.99875em) {
  .filters-header-tabs__button-write {
    padding: 0.75rem 1.25rem;
  }
}

.main-reviews-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}
@media (max-width: 61.99875em) {
  .main-reviews-tabs {
    gap: 1rem;
  }
}
@media (max-width: 37.5em) {
  .main-reviews-tabs {
    grid-template-columns: 1fr;
  }
}
.card-main-tabs {
  padding: 1.75rem 2rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
}
.card-main-tabs__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  margin-bottom: 0.9375rem;
}
.card-main-tabs__stars-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.375rem;
  color: #ffc633;
  font-size: 1.375rem;
}
@media (max-width: 47.99875em) {
  .card-main-tabs__stars-container {
    font-size: 1.1875rem;
  }
}
.card-main-tabs__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.1875rem;
}
.card-main-tabs__more > * {
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 37.5em) {
  .card-main-tabs__more {
    display: none;
  }
}
.card-main-tabs__user-name {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 0.25rem;
  margin-bottom: 0.75rem;
}
@media (max-width: 47.99875em) {
  .card-main-tabs__user-name {
    font-size: 1rem;
  }
}
.card-main-tabs__user-name::before {
  color: #01ab31;
  font-size: 1.25rem;
}
@media (max-width: 47.99875em) {
  .card-main-tabs__user-name::before {
    font-size: 1rem;
  }
}
.card-main-tabs__user-text {
  line-height: 1.37; /* 22/16 */
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 1.5rem;
}
@media (max-width: 47.99875em) {
  .card-main-tabs__user-text {
    font-size: 0.875rem;
  }
}
.card-main-tabs__date {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.37; /* 22/16 */
}
@media (max-width: 47.99875em) {
  .card-main-tabs__date {
    font-size: 0.875rem;
  }
}

.likes__container {
  padding-right: 0;
  margin-bottom: 4.875rem;
}
@media (max-width: 47.99875em) {
  .likes__container {
    margin-bottom: 3.125rem;
  }
}
.likes__title {
  margin-bottom: 3.4375rem;
  text-align: center;
}
@media (max-width: 47.99875em) {
  .likes__title {
    margin-bottom: 2.5rem;
  }
}
.likes__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.25rem;
  overflow-x: scroll;
}
@media (max-width: 68.75em) {
  .likes__products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .likes__products > * {
    max-width: 15rem;
  }
}
@media (max-width: 47.99875em) {
  .likes__products {
    margin-bottom: 3.125rem;
    gap: 1rem;
  }
}