.category {
  // .category__container

  &__container {
    margin-bottom: toRem(80);
    @media (max-width: toEm(767.98)) {
      margin-bottom: 50;
    }
    display: flex;
  }
}

//======================================

.aside {
  &.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.2);
    z-index: 10;
  }
  @media (max-width: toEm(767.98)) {
    width: 0;
  }
  // .aside__wrapper

  &__wrapper {
    width: toRem(295);
    padding: toRem(20) toRem(24) toRem(29) toRem(24);
    border-radius: toRem(20);
    border: toRem(1) solid rgb(0, 0, 0, 0.1);
    @media (max-width: toEm(991.98)) {
      padding: toRem(20) toRem(15) toRem(29) toRem(15);
      width: toRem(250);
    }

    @media (max-width: toEm(767.98)) {
      transform: translateY(-150%);
      width: 0;

      transition: transform 0.3s width 0.3s;
      &.active {
        transition: transform 0.3s;
        transform: translateY(0);
        top: toRem(93);
        left: 0;
        z-index: 11;
        width: 100%;
        height: calc(100vh - 93px);
        overflow-y: scroll;
        position: fixed;
        background-color: #ffffff;
      }
    }
  }

  // .aside__row

  &__row {
    display: flex;
    flex-direction: column;
    gap: toRem(24);
  }

  // .aside__filters-title

  &__filters-title {
  }

  // .aside__border

  &__border {
    width: 100%;
    height: toRem(1);
    background-color: rgb(0, 0, 0, 0.1);
  }

  // .aside__filters

  &__filters {
  }

  // .aside__price

  &__price {
  }

  // .aside__range

  &__range {
  }

  // .aside__colors-title

  &__colors-title {
  }

  // .aside__colors

  &__colors {
  }

  // .aside__size-title

  &__size-title {
  }

  // .aside__size

  &__size {
  }

  // .aside__style-title

  &__style-title {
  }

  // .aside__style

  &__style {
  }

  // .aside__button-filter

  &__button-filter {
    border-radius: toRem(62);
    padding: toRem(16) toRem(15);
    text-align: center;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    font-size: toRem(14);
    font-weight: 500;
  }
}
.aside-title {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: toRem(20);
  font-weight: 700;
  background-color: #ffffff;
  cursor: pointer;
  &::before {
    transition: all 0.3s;
    font-size: toRem(6);
    margin-bottom: toRem(-5);
  }
  &:first-child {
    cursor: auto;
    &::before {
      font-size: toRem(20);
      color: rgb(0, 0, 0, 0.4);
      font-weight: 400;
      @media (max-width: toEm(767.98)) {
        content: "\e90d";
        font-size: toRem(16);
        padding: toRem(5) toRem(10);
        cursor: pointer;
      }
    }
  }
  &.active {
    &::before {
      transition: all 0.3s;
      transform: rotate(180deg);
    }
  }
}

.filters-aside {
  // .filters-aside__list

  &__list {
    display: flex;
    flex-direction: column;
    gap: toRem(20);
  }

  // .filters-aside__item

  &__item {
  }

  //.filters-aside__link
  &__link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    color: $light-color;
    &::before {
      font-size: toRem(6);
      transform: rotate(-90deg);
    }
  }
}
.colors-aside {
  // .colors-aside__row

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: toRem(15);
  }

  // .colors-aside__color

  &__color {
    width: toRem(37);
    height: toRem(37);
    border-radius: 50%;
    border: toRem(1) solid rgb(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;

    &::before {
      color: #ffffff;
      font-size: toRem(10);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // .colors-aside__color--green

  &__color--green {
    background-color: #00c12b;
  }

  // .colors-aside__color--red

  &__color--red {
    background-color: #f50606;
  }

  // .colors-aside__color--yellow

  &__color--yellow {
    background-color: #f5dd06;
    &::before {
      color: #000;
    }
  }

  // .colors-aside__color--orange

  &__color--orange {
    background-color: #f57906;
  }

  // .colors-aside__color--light-blue

  &__color--light-blue {
    background-color: #06caf5;
  }

  // .colors-aside__color--blue

  &__color--blue {
    background-color: #063af5;
  }

  // .colors-aside__color--purple

  &__color--purple {
    background-color: #7d06f5;
  }

  // .colors-aside__color--pink

  &__color--pink {
    background-color: #f506a4;
  }

  // .colors-aside__color--white

  &__color--white {
    background-color: #ffffff;
    &::before {
      color: #000;
    }
  }

  // .colors-aside__color--black

  &__color--black {
    background-color: #000000;
  }
}
.size-aside {
  // .size-aside__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: toRem(8);
  }

  // .size-aside__item

  &__item {
    padding: toRem(10) toRem(20);
    background-color: $background-color;
    border-radius: toRem(62);
    font-size: toRem(14);
    color: $light-color;
    cursor: pointer;
    &.active {
      background-color: #000000;
      color: #ffffff;
      font-weight: 500;
    }
  }
}
.style-aside {
  // .style-aside__list

  &__list {
    display: flex;
    flex-direction: column;
    gap: toRem(20);
  }

  // .style-aside__item

  &__item {
  }
  //.style-aside__link

  &__link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    color: $light-color;
    &::before {
      font-size: toRem(6);
      transform: rotate(-90deg);
    }
  }
}
.range-aside {
  margin-bottom: toRem(14);
  .noUi-connect {
    background-color: #000000;
  }
  .noUi-origin {
    right: toRem(5);
  }
  .noUi-connects {
    background-color: #f0f0f0;
    border-radius: toRem(20);
  }
  .noUi-target {
    height: toRem(6);
    border-radius: toRem(20);
    border: none;
  }

  .noUi-horizontal .noUi-handle {
    width: toRem(20);
    height: toRem(20);
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;

    border: none;
    box-shadow: none;
  }
  .noUi-handle:after,
  .noUi-handle::before {
    display: none;
  }
  .noUi-horizontal .noUi-tooltip {
    // left: 0;
    bottom: toRem(-20);
    padding: 0;
    border: none;
    font-size: toRem(14);
    font-style: normal;
    font-family: "Satoshi", sans-serif;
    font-weight: 500;
    color: #000;
  }
}
//====================================
.category {
  // .category__main

  &__main {
    padding-left: toRem(20);
    flex: 1 1 auto;
    @media (max-width: toEm(800)) {
      padding-left: toRem(15);
    }
    @media (max-width: toEm(767.98)) {
      padding: 0;
    }
  }
}
.main-category {
  // .main-category__top

  &__top {
    margin-bottom: toRem(16);
    @media (max-width: toEm(767.98)) {
      margin-bottom: toRem(29);
    }
  }

  // .main-category__products

  &__products {
    margin-bottom: toRem(32);
    @media (max-width: toEm(767.98)) {
      margin-bottom: toRem(24);
    }
  }

  // .main-category__border

  &__border {
    margin-bottom: toRem(20);
    height: toRem(1);
    width: 100%;
    background-color: rgb(0, 0, 0, 0.1);
  }

  // .main-category__pagination

  &__pagination {
  }
}
.top-category {
  display: flex;
  gap: toRem(20);
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: toEm(767.98)) {
    justify-content: stretch;
    gap: toRem(8);
  }
  // .top-category__title

  &__title {
    font-size: toRem(32);
    font-weight: 700;

    @media (max-width: toEm(767.98)) {
      font-size: toRem(24);
    }
  }

  // .top-category__info

  &__info {
    color: $light-color;
    display: flex;
    gap: toRem(12);
    @media (max-width: toEm(767.98)) {
      font-size: toRem(14);
    }
  }

  // .top-category__info-more

  &__info-more {
    display: flex;
    gap: toRem(5);

    @media (max-width: toEm(767.98)) {
      display: none;
    }
    & > span {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap: toRem(6);
      color: #000;
      cursor: pointer;
      &::before {
        margin-top: toRem(3);
        font-size: toRem(6);
      }
    }
  }

  // .top-category__icon-filter

  &__icon-filter {
    display: none;
    @media (max-width: toEm(767.98)) {
      cursor: pointer;
      display: block;
      margin-left: auto;
      width: toRem(32);
      height: toRem(32);
      border-radius: 50%;
      background-color: $background-color;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before {
        font-size: toRem(13);
      }
    }
  }
}

.products-category {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(toRem(230), 1fr));
  row-gap: toRem(36);
  column-gap: toRem(20);
  @media (max-width: toEm(991.98)) {
    row-gap: toRem(24);
    column-gap: toRem(14);
    grid-template-columns: repeat(auto-fill, minmax(toRem(210), 1fr));
  }
  @media (max-width: toEm(500)) {
    row-gap: toRem(18);
    column-gap: toRem(10);
    grid-template-columns: repeat(auto-fill, minmax(toRem(150), 1fr));
  }
}
.pagination-category {
  // .pagination-category__row

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(15);
    @media (max-width: toEm(450)) {
      gap: toRem(8);
    }
  }

  // .pagination-category__button

  &__button {
    display: flex;
    align-items: center;
    gap: toRem(12);
    border-radius: toRem(8);
    padding: toRem(8) toRem(14);
    border: toRem(1) solid rgb(0, 0, 0, 0.1);
    font-weight: 500;
    &::before {
      font-size: toRem(12);
      margin-top: toRem(3);
    }
    @media (max-width: toEm(450)) {
      gap: toRem(8);
    }
    @media (max-width: toEm(390)) {
      padding: toRem(6);
    }
  }

  // .pagination-category__button--prev

  &__button--prev {
  }

  // .pagination-category__numbers

  &__numbers {
  }

  // .pagination-category__button--next

  &__button--next {
    flex-direction: row-reverse;
    &::before {
      transform: rotate(180deg);
    }
  }
}
.numbers-pagination-category {
  display: flex;
  align-items: center;
  // .numbers-pagination-category__number

  &__number {
    border-radius: toRem(8);
    display: flex;
    align-items: center;
    justify-content: center;
    width: toRem(40);
    height: toRem(40);
    font-size: toRem(14);
    color: rgb(0, 0, 0, 0.5);
    &.active {
      background-color: rgb(0, 0, 0, 0.06);
    }
    @media (max-width: toEm(850)) {
      &:nth-child(3),
      &:nth-child(5) {
        display: none;
      }
    }
    @media (max-width: toEm(767.98)) {
      font-size: toRem(12);
      width: toRem(36);
      height: toRem(36);
    }
    @media (max-width: toEm(450)) {
      width: toRem(30);
      height: toRem(30);
    }
    @media (max-width: toEm(390)) {
      &:nth-child(6) {
        display: none;
      }
      width: toRem(25);
      height: toRem(25);
    }
  }
}
