.footer {
  // .footer__wrapper

  &__wrapper {
    background-color: $background-color;
  }

  // .footer__container

  &__container {
    margin-top: toRem(90);
    @media (max-width: toEm(767.98)) {
      margin-top: toRem(130);
    }
  }

  // .footer__subscribe

  &__subscribe {
  }

  // .footer__main

  &__main {
    margin-bottom: toRem(50);
    @media (max-width: toEm(991.98)) {
      margin-bottom: toRem(40);
    }
  }

  // .footer__border-line

  &__border-line {
    margin-bottom: toRem(20);
    height: toRem(1);
    width: 100%;
    background-color: rgb(0, 0, 0, 0.1);
    @media (max-width: toEm(991.98)) {
      margin-bottom: toRem(16);
    }
  }

  // .footer__bottom

  &__bottom {
  }
}
.subscribe-footer {
  @media (max-width: toEm(767.98)) {
    margin-bottom: toRem(-90);
  }

  // .subscribe-footer__wrapper

  &__wrapper {
    transform: translateY(-50%);
  }

  // .subscribe-footer__row

  &__row {
    background-color: #000;
    border-radius: toRem(20);
    padding: toRem(37) toRem(64);
    @media (max-width: toEm(991.98)) {
      padding: toRem(32) toRem(24);
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(30);
    @media (max-width: toEm(767.98)) {
      flex-direction: column;
    }
  }

  // .subscribe-footer__title

  &__title {
    color: #fff;
    font-size: toRem(40);
    font-family: "Integral CF", sans-serif;
    font-weight: 700;
    line-height: 1.12; /* 45/40 */
    max-width: toRem(580);
    @media (max-width: toEm(991.98)) {
      font-size: toRem(32);
    }
    @media (max-width: toEm(767.98)) {
      text-align: center;
    }
  }

  // .subscribe-footer__form

  &__form {
    @media (max-width: toEm(991.98)) {
      font-size: toRem(14);
    }
    & > * {
      width: toRem(349);
    }
    @media (max-width: toEm(991.98)) {
      & > * {
        width: toRem(250);
      }
    }
    @media (max-width: toEm(767.98)) {
      & > * {
      }
    }
  }

  // .subscribe-footer__form-label

  &__form-label {
    color: rgb(0, 0, 0, 0.4);

    background-color: #fff;
    border-radius: toRem(62);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: toRem(14);
    padding: toRem(12) toRem(16);
    margin-bottom: toRem(14);
    @media (max-width: toEm(767.98)) {
    }
  }

  // .subscribe-footer__form-input

  &__form-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: toRem(3) toRem(0);
  }

  // .subscribe-footer__form-button

  &__form-button {
    background-color: #fff;
    padding: toRem(15) toRem(16);
    max-width: toRem(349);
    border-radius: toRem(62);
    font-weight: 500;
    display: flex;
    justify-content: center;
  }
}

.main-footer {
  @media (max-width: toEm(991.98)) {
    display: flex;
    justify-content: center;
  }

  // .main-footer__social

  &__social {
    max-width: toRem(248);
  }

  // .main-footer__info

  &__info {
  }
}
.social-footer {
  // .social-footer__title

  &__title {
    margin-bottom: toRem(25);
    font-size: toRem(33);
    font-family: "Integral CF", sans-serif;
    font-weight: 700;
  }

  // .social-footer__text

  &__text {
    margin-bottom: toRem(35);
    font-size: toRem(14);
    font-family: "Satoshi", sans-serif;
    line-height: 1.57; /* 22/14 */
  }

  // .social-footer__icons

  &__icons {
    display: flex;
    align-items: center;
    gap: toRem(12);
  }

  // .social-footer__icon

  &__icon {
    width: toRem(28);
    height: toRem(28);
    border-radius: 50%;
    border: toRem(1) solid $light-color;
    position: relative;

    &::before {
      font-size: toRem(14);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:nth-child(2) {
      color: #fff;
      background-color: #000;
      &::before {
        font-size: toRem(20);
        top: 65%;
      }
    }
  }
}
.info-footer {
  display: flex;
  justify-content: space-between;
  gap: toRem(20);
  @media (max-width: toEm(991.98)) {
    flex-wrap: wrap;
    justify-content: center;
    gap: toRem(40);
    flex-basis: toRem(720);
  }
  @media (max-width: toEm(767.98)) {
    justify-content: stretch;
  }

  // .info-footer__block

  &__block {
  }

  // .info-footer__title

  &__title {
    font-weight: 500;
    line-height: 1.12; /* 18/16 */
    margin-bottom: toRem(26);
    letter-spacing: toRem(3);
  }

  // .info-footer__list

  &__list {
  }

  // .info-footer__item

  &__item {
  }

  // .info-footer__link

  &__link {
    color: $light-color;
    line-height: 2.3;
    transition: color 0.3s;
    &:hover {
      color: $hover-color;
    }
  }
}
.bottom-footer {
  padding-bottom: toRem(81);
  @media (max-width: toEm(767.98)) {
    padding-bottom: toRem(77);
  }
  // .bottom-footer__row

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(16);
    @media (max-width: toEm(767.98)) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  // .bottom-footer__info-text

  &__info-text {
    font-size: toRem(14);
    color: $light-color;
  }

  // .bottom-footer__cards

  &__cards {
    display: flex;
    align-items: center;
    gap: toRem(12);
    @media (max-width: toEm(767.98)) {
      gap: toRem(10);
    }
  }

  // .bottom-footer__card

  &__card {
    width: toRem(46);
    height: toRem(30);
    background-color: #fff;
    border-radius: toRem(5);
    position: relative;
    & > img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @media (max-width: toEm(767.98)) {
      width: toRem(40);
      height: toRem(26);
    }
  }
}
