.top-bar {
  // .top-bar__wrappper

  &__wrappper {
    background-color: #000000;
  }

  // .top-bar__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    position: relative;
  }

  // .top-bar__text

  &__text {
    font-size: toRem(14);
    padding: toRem(10);
    line-height: 1.35;
    @media (max-width: toEm(767.98)) {
      font-size: toRem(14);
      text-align: center;
      line-height: 1;
    }
  }

  // .top-bar__link

  &__link {
    text-decoration: underline;
    font-weight: 500;
  }

  // .top-bar__cross

  &__cross {
    position: absolute;
    top: 50%;
    right: toRem(15);
    transform: translateY(-50%);
    &::before {
      font-size: toRem(13);

      @media (max-width: toEm(767.98)) {
        display: none;
      }
    }
  }
}
//===============================
header {
  width: 100%;
  min-height: toRem(135);
  @media (max-width: toEm(767.98)) {
    min-height: toRem(99);
  }
}
.header {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
.header {
  // .header__wrapper

  &__wrapper {
    padding: toRem(24) 0;
    position: relative;
    @media (max-width: toEm(767.98)) {
      padding: toRem(20) 0;
    }
  }

  // .header__container

  &__container {
  }

  // .header__row

  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: toRem(40);
    row-gap: toRem(10);
    justify-content: center;
    @media (max-width: toEm(991.98)) {
      column-gap: toRem(16);
    }
    @media (max-width: toEm(767.98)) {
      justify-content: space-between;
    }
  }

  // .header__burger

  &__burger {
    display: none;
    @media (max-width: toEm(767.98)) {
      display: block;
      width: toRem(25);
      height: toRem(18);
      margin-bottom: toRem(-5);
      padding: toRem(6) toRem(4);
      overflow: hidden;
    }
  }

  // .header__logo-text

  &__logo-text {
    font-size: toRem(32);
    font-family: "Integral CF", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    @media (max-width: toEm(991.98)) {
      font-size: toRem(25);
    }
    @media (max-width: toEm(767.98)) {
      margin-right: auto;
    }
  }

  // .header__nav

  &__nav {
    @media (max-width: toEm(767.98)) {
      position: fixed;
      width: 40%;
      left: -200%;
      top: 0;
      z-index: 3;
      height: 100%;
      background-color: rgb(255, 255, 255);
      transform: translateX(-100%);
      transition: all 0.3s ease;
      &.active {
        transform: translateX(0);
        transition: all 0.3s ease;
        left: 0;
      }
      @media (max-width: toEm(600)) {
        width: 60%;
      }
      @media (max-width: toEm(500)) {
        width: 100%;
      }
    }
  }

  // .header__search

  &__search {
    flex: 1 1 auto;
  }

  // .header__favorite

  &__favorite {
    position: relative;
  }
}
.burger-header {
  position: relative;
  z-index: 4;
  // .burger-header__border

  &__border {
    width: calc(100% - toRem(6));
    height: toRem(2);
    background-color: #000000;
    border-radius: toRem(15);
    position: absolute;
    transition: all 0.3s ease;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(3) {
      bottom: 0;
    }
  }
  &.active {
    .burger-header__border {
      transition: all 0.3s ease;
      &:nth-child(1) {
        top: 50%;

        transform: rotate(45deg);
      }
      &:nth-child(2) {
        transform: translateX(-150%);
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 50%;
      }
    }
  }
}
.nav-header {
  // .nav-header__list

  &__list {
    display: flex;
    align-items: center;
    gap: toRem(24);
    @media (max-width: toEm(991.98)) {
      gap: toRem(15);
    }
    @media (max-width: toEm(767.98)) {
      flex-direction: column;
      align-items: flex-start;
      padding: toRem(20);
      gap: toRem(16);
      padding-top: toRem(100);
      font-size: toRem(20);
    }
    @media (max-width: toEm(425)) {
      padding-top: toRem(130);
    }
  }

  // .nav-header__item

  &__item {
    position: relative;
  }

  // .nav-header__link

  &__link {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: toRem(6);
    position: relative;
    line-height: 1.2;
    &::before {
      font-size: toRem(6);
      margin-top: toRem(2);
    }
    &:hover + .nav-header__sublist {
      display: block;
    }
    &:focus + .nav-header__sublist {
      display: block;
    }
    @media (any-hover: hover) {
      &:hover {
        color: $hover-color;
      }
    }
  }

  // .nav-header__sublist

  &__sublist {
    position: absolute;
    top: toRem(20);
    left: toRem(-15);
    z-index: 2;
    background-color: #ffffff;
    border: 1px solid #000;
    padding: toRem(10) toRem(15) toRem(15) toRem(10);
    border-radius: toRem(8);
    display: none;
    &:hover {
      display: block;
    }
  }
}

.nav-header-sublist {
  // .nav-header-sublist__item

  &__item {
    padding: toRem(3) 0;
  }

  // .nav-header-sublist__link

  &__link {
    @media (any-hover: hover) {
      &:hover {
        color: $hover-color;
      }
    }
  }
}

.search-header {
  display: flex;
  border-radius: toRem(62);
  background-color: $background-color;
  padding: toRem(13) toRem(16);
  @media (max-width: toEm(767.98)) {
    max-width: fit-content;
    padding: 0;
    background-color: inherit;
    &.active {
      background-color: #f0f0f0;
      padding: toRem(10) toRem(16);
      position: absolute;
      z-index: 2;
      top: toRem(-10);
      left: toRem(-130);
    }
  }
  // .search-header__input

  &__input {
    @media (max-width: toEm(991.98)) {
      font-size: toRem(14);
    }
    @media (max-width: toEm(767.98)) {
      display: none;
      &.active {
        display: block;
      }
    }
  }

  // .search-header__button

  &__button {
    margin-right: toRem(14);
    @media (max-width: toEm(991.98)) {
      margin-right: toRem(8);
      &::before {
        font-size: toRem(20);
      }
    }

    @media (max-width: toEm(767.98)) {
      margin-right: 0;
      &.active {
        margin-right: toRem(8);
      }
    }
  }

  // .search-header__label

  &__label {
  }
}
.favorite-header {
  display: flex;
  align-items: center;
  gap: toRem(16);
  font-size: toRem(20);
  @media (max-width: toEm(767.98)) {
    gap: toRem(14);
  }
  // .favorite-header__basket

  &__basket {
    position: relative;
    & > span {
      aspect-ratio: 1/1;
      min-height: fit-content;
      position: absolute;
      top: 70%;

      background-color: #ffffff;
      left: toRem(-10);
      // transform: translate(-50%, -50%);
      font-size: toRem(16);
      font-weight: 700;
      padding: toRem(2);
      border-radius: 50%;
      border: toRem(2) solid red;
      color: red;
      overflow: hidden;
    }
  }

  // .favorite-header__user

  &__user {
  }
}
