.hero {
  // .hero__wrapper

  &__wrapper {
    background-color: $background-color;
  }

  // .hero__container

  &__container {
    padding-top: toRem(199);
  }

  // .hero__row

  &__row {
    display: flex;
    justify-content: space-between;
  }

  // .hero__info

  &__info {
    max-width: toRem(596);
  }

  // .hero__image

  &__image {
    max-width: toRem(500);
    & > img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}
.info-hero {
  // .info-hero__title

  &__title {
    margin-bottom: toRem(32);
    font-size: toRem(64);
    font-family: "Integral CF", sans-serif;
    font-weight: 700;
  }

  // .info-hero__text

  &__text {
    margin-bottom: toRem(32);
    line-height: 1.37; /* 22/16 */
    color: $light-color;
  }

  // .info-hero__shop

  &__shop {
    margin-bottom: toRem(48);
    border-radius: toRem(62);
    background-color: #000;
    color: #fff;
    padding: toRem(16) toRem(54);
    text-align: center;
  }

  // .info-hero__stats

  &__stats {
    padding-bottom: toRem(116);
  }
}
.stats-hero {
  overflow: hidden;
  display: flex;
  gap: toRem(32);
  // .stats-hero__block

  &__block {
  }
  // .stats-hero__number

  &__number {
    font-size: toRem(40);
    font-weight: 700;
    letter-spacing: 1px;
  }

  // .stats-hero__info-text

  &__info-text {
    line-height: 1.37; /* 22/16 */
    color: $light-color;
    white-space: nowrap;
  }

  // .stats-hero__border

  &__border {
    width: toRem(1);
    height: 100px;
    background-color: rgb(0, 0, 0, 0.1);
  }
}
//================================
.brands {
  // .brands__wrapper

  &__wrapper {
    background-color: #000;
  }

  // .brands__container

  &__container {
  }

  // .brands__row

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: toRem(15);
    padding: toRem(44) 0;
  }
}
