.hero {
  // .hero__wrapper

  &__wrapper {
    background-color: $background-color;
  }

  // .hero__container

  &__container {
    padding-top: toRem(199);
    overflow: hidden;
  }

  // .hero__row

  &__row {
    display: flex;
    gap: toRem(32);
    @media (max-width: toEm(767.98)) {
      display: block;
    }
  }

  // .hero__info

  &__info {
    max-width: toRem(596);
    @media (max-width: toEm(767.98)) {
      max-width: none;
    }
  }

  // .hero__wrapper-image

  &__wrapper-image {
    max-width: 100%;
    display: flex;
    align-items: end;
    min-width: toRem(505);
    @media (max-width: toEm(991.98)) {
      min-width: toRem(400);
    }
    @media (max-width: toEm(767.98)) {
    }
  }

  // .hero__image

  &__image {
    & > img {
      width: 100%;
      display: block;
      height: auto;
      object-fit: contain;
      // transform: scale(1.06);
    }
  }
}
.info-hero {
  @media (max-width: toEm(767.98)) {
    display: flex;
    flex-direction: column;
  }
  // .info-hero__title

  &__title {
    margin-bottom: toRem(32);
    font-size: toRem(64);
    font-family: "Integral CF", sans-serif;
    font-weight: 700;
    @media (max-width: toEm(1200)) {
      font-size: toRem(50);
    }
    @media (max-width: toEm(991.98)) {
      font-size: toRem(36);
    }
  }

  // .info-hero__text

  &__text {
    margin-bottom: toRem(32);
    line-height: 1.37; /* 22/16 */
    color: $light-color;
  }

  // .info-hero__shop

  &__shop {
    margin-bottom: toRem(48);
    border-radius: toRem(62);
    background-color: #000;
    color: #fff;
    padding: toRem(16) toRem(54);
    text-align: center;
    @media (max-width: toEm(767.98)) {
      flex: 1 1 auto;
    }
  }

  // .info-hero__stats

  &__stats {
    padding-bottom: toRem(116);
    @media (max-width: toEm(1200)) {
      padding-bottom: toRem(40);
    }
    @media (max-width: toEm(767.98)) {
      padding-bottom: toRem(30);
    }

    display: flex;
    justify-content: center;
  }
}
.stats-hero {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: toRem(32);
  @media (max-width: toEm(991.98)) {
    gap: toRem(15);
  }
  @media (max-width: toEm(767.98)) {
    gap: toRem(12);
  }
  // .stats-hero__block

  &__block {
  }
  // .stats-hero__number

  &__number {
    font-size: toRem(40);
    font-weight: 700;
    letter-spacing: 1px;
    @media (max-width: toEm(991.98)) {
      font-size: toRem(25);
    }
  }

  // .stats-hero__info-text

  &__info-text {
    line-height: 1.37; /* 22/16 */
    color: $light-color;
    // white-space: nowrap;
  }

  // .stats-hero__border

  &__border {
    width: toRem(1);
    max-height: 100px;
    background-color: rgb(0, 0, 0, 0.1);
  }
}
//================================
.brands {
  // .brands__wrapper

  &__wrapper {
    background-color: #000;
  }

  // .brands__container

  &__container {
  }

  // .brands__row

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: toRem(20);
    padding: toRem(44) 0;
    @media (max-width: toEm(991.98)) {
      padding: toRem(39) 0;
    }
    @media (max-width: toEm(767.98)) {
      justify-content: space-around;
    }
    & > img {
      height: 22px;
    }
  }
}
//===============================
.arrivals {
  // .arrivals__container

  &__container {
    &::after {
      content: "";
      width: 100%;
      height: toRem(1);
      background-color: rgb(0, 0, 0, 0.1);
    }
  }

  // .arrivals__row

  &__row {
    display: flex;
    flex-direction: column;
  }

  // .arrivals__title

  &__title {
    align-self: center;
    margin: toRem(72) 0 toRem(55) 0;
    font-size: toRem(48);
    font-family: "Integral CF", sans-serif;
    font-weight: 700;
    @media (max-width: toEm(767.98)) {
      font-size: toRem(32);
    }
  }

  // .arrivals__card

  &__cards {
    margin-bottom: toRem(36);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: toRem(30);
    column-gap: toRem(20);
    @media (max-width: toEm(550)) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  // .arrivals__button-oll

  &__button-oll {
    align-self: center;
    margin-bottom: toRem(64);
    padding: toRem(16) toRem(64);
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: toRem(62);
    font-weight: 500;
    transition: color ease 0.3s;
    @media (any-hover: hover) {
      &:hover {
        transition: color ease 0.3s;
        color: $hover-color;
      }
    }
    @media (max-width: toEm(550)) {
      width: 100%;
    }
  }
}
.card-arrivals {
  //card-arrivals__card

  &__card {
    display: flex;
    flex-direction: column;
    row-gap: toRem(8);
    max-width: toRem(298);
  }

  // .card-arrivals__image

  &__image {
    margin-bottom: toRem(8);
    background-color: #f0eeed;
    border-radius: toRem(20);
    overflow: hidden;
    & > img {
      width: 100%;
      object-fit: cover;
      height: auto;
    }
  }

  // .card-arrivals__title

  &__title {
    font-size: toRem(16);
    font-weight: 700;
  }

  // .card-arrivals__rate

  &__rate {
  }

  // .card-arrivals__price

  &__price {
  }
}
.rate-card-arrivals {
  display: flex;
  align-items: center;
  column-gap: toRem(10);

  // .rate-card-arrivals__stars

  &__stars {
    display: flex;
    align-items: center;
    column-gap: toRem(5);
  }

  // .rate-card-arrivals__star

  &__star {
    &::before {
      font-size: toRem(18);
      color: #ffc633;
    }
  }

  // .rate-card-arrivals__numbers

  &__numbers {
    display: flex;
    align-items: center;
    font-size: toRem(14);
  }

  // .rate-card-arrivals__number

  &__number {
  }

  // .rate-card-arrivals__number-max

  &__number-max {
    color: $light-color;
  }
}

.price-card-arrivals {
  display: flex;
  align-items: center;
  column-gap: toRem(10);
  // .price-card-arrivals__price

  &__price {
    font-size: toRem(24);
    font-weight: 700;
  }

  // .price-card-arrivals__old-price

  &__old-price {
    font-size: toRem(24);
    font-weight: 700;
    text-decoration: line-through;
    color: rgb(0, 0, 0, 0.4);
  }

  // .price-card-arrivals__sale-percent

  &__sale-percent {
    color: #ff3333;
    font-size: toRem(12);
    font-weight: 500;
    width: 100%;
    padding: toRem(6) toRem(14);
    border-radius: toRem(62);
    background-color: rgb(255, 51, 51, 0.1);
    flex: 0 0 toRem(58);
  }
}
//==============================
.selling {
  // .selling__container

  &__container {
  }

  // .selling__row

  &__row {
    display: flex;
    flex-direction: column;
  }

  // .selling__title

  &__title {
    align-self: center;
    margin: toRem(72) 0 toRem(55) 0;
    font-size: toRem(48);
    font-family: "Integral CF", sans-serif;
    font-weight: 700;
    @media (max-width: toEm(767.98)) {
      font-size: toRem(32);
    }
  }

  // .selling__card

  &__cards {
    margin-bottom: toRem(36);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: toRem(30);
    column-gap: toRem(20);
    @media (max-width: toEm(550)) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  // .selling__button-oll

  &__button-oll {
    align-self: center;
    margin-bottom: toRem(64);
    padding: toRem(16) toRem(64);
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: toRem(62);
    font-weight: 500;
    transition: color ease 0.3s;
    @media (any-hover: hover) {
      &:hover {
        transition: color ease 0.3s;
        color: $hover-color;
      }
    }
    @media (max-width: toEm(550)) {
      width: 100%;
    }
  }
}
//==============================
.styles {
  // .styles__container

  &__container {
    @media (max-width: toEm(550)) {
      padding: 0;
    }
  }

  // .styles__wrapper

  &__wrapper {
    background-color: $background-color;
    border-radius: toRem(40);
    padding: toRem(76) 0;
  }

  // .styles__title

  &__title {
    font-size: toRem(48);
    padding: 0 toRem(15);
    font-family: "Integral CF", sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: toRem(64);
    @media (max-width: toEm(767.98)) {
      font-size: toRem(36);
    }
  }

  // .styles__grid

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(20);
    padding: 0 toRem(64);
    & > :nth-child(4n),
    & > :nth-child(4n + 1) {
      flex: 0 0 32%;
      @media (max-width: toEm(1100)) {
        flex: 0 0 40%;
      }
      @media (max-width: toEm(991.98)) {
        flex: 0 0 45%;
      }
    }
    & > :not(:nth-child(4n)):not(:nth-child(4n + 1)) {
      flex: 0 0 calc(68% - toRem(20));
      @media (max-width: toEm(1100)) {
        flex: 0 0 calc(60% - toRem(20));
      }
      @media (max-width: toEm(991.98)) {
        flex: 0 0 calc(55% - toRem(20));
      }
    }
    @media (max-width: toEm(1100)) {
      padding: 0 toRem(50);
    }
    @media (max-width: toEm(991.98)) {
      padding: 0 toRem(30);
    }
    @media (max-width: toEm(767.98)) {
      display: block;
      padding: 0 toRem(15);

      & > *:not(:last-child) {
        margin-bottom: toRem(16);
      }
    }
  }

  // .styles__card

  &__card {
  }
}
.card-styles {
  max-height: toRem(289);
  overflow: hidden;
  border-radius: toRem(20);
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  // .card-styles__title

  &__title {
    // position: absolute;
    top: toRem(25);
    left: toRem(36);
    font-size: toRem(36);
    font-weight: 700;
    z-index: 2;
    padding: toRem(25) toRem(36);
    @media (max-width: toEm(767.98)) {
      font-size: toRem(24);
      padding: toRem(24) toRem(16);
    }
  }

  // .card-styles__image

  &__image {
    & > img {
      object-position: 15px;
      object-fit: contain;
      transform: scale(1.7);
      // position: absolute;
      @media (max-width: toEm(450)) {
        object-position: 0;
      }
    }
  }
}
//================================

// .swiper {
//   width: 600px;
//   height: 300px;
// }
.clients {
  // .clients__wrapper

  &__wrapper {
    // filter: blur(toRem(4));
    overflow: hidden;
  }

  // .clients__container

  &__container {
    padding: toRem(80) 0;
  }

  // .clients__top

  &__top {
  }

  // .clients__swiper-button-prev

  &__swiper-button-prev {
  }

  // .clients__swiper-button-next

  &__swiper-button-next {
    &::before {
      transform: rotate(180deg);
    }
  }

  // .clients__swiper

  &__swiper {
    overflow: visible;
    scrollbar-width: none;
  }

  // .clients__swiper-wrapper

  &__swiper-wrapper {
  }

  // .clients__swiper-slide

  &__swiper-slide {
  }

  // .clients__response

  &__response {
  }
}

.top-clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // .top-clients__title

  &__title {
    font-size: toRem(48);
    font-family: "Integral CF", sans-serif;
    font-weight: 700;
    margin-bottom: toRem(40);
  }

  // .top-clients__arrows

  &__arrows {
    display: flex;
    align-items: center;
    gap: toRem(21);
    font-size: toRem(16);
  }
}

.response-clients {
  // .response-clients__wrapper

  &__wrapper {
    max-width: toRem(400);
    padding: toRem(28) toRem(32);
    border-radius: toRem(20);
    border: toRem(1) solid rgb(0, 0, 0, 0.1);
  }

  // .response-clients__scores

  &__scores {
    display: flex;
    align-items: center;
    gap: toRem(6);
    font-size: toRem(22);
    margin-bottom: toRem(15);
    & > ::before {
      color: #ffc633;
    }
  }

  // .response-clients__user-name

  &__user-name {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: toRem(6);

    margin-bottom: toRem(12);
    font-size: toRem(20);
    font-weight: 700;
    line-height: 1.1; /* 22/20 */
    &::before {
      color: #01ab31;
      font-size: toRem(19);
      margin-bottom: toRem(-5);
    }
  }

  // .response-clients__user-text

  &__user-text {
    line-height: 1.37; /* 22/16 */
    color: $light-color;
  }
}
