@font-face {
  font-family: "fonts";
  src: url("../fonts/fonts.woff?nh4ngm") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "fonts" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
._icon-checkbox:before {
  content: "\e911";
}
._icon-label:before {
  content: "\e90f";
}
._icon-dump:before {
  content: "\e910";
}
._icon-filter:before {
  content: "\e90e";
}
._icon-cross:before {
  content: "\e90d";
}
._icon-s-instagram:before {
  content: "\e900";
}
._icon-star:before {
  content: "\e901";
}
._icon-star-half:before {
  content: "\e902";
}
._icon-h-more:before {
  content: "\e903";
}
._icon-h-search:before {
  content: "\e904";
}
._icon-h-basked:before {
  content: "\e905";
}
._icon-h-user:before {
  content: "\e906";
}
._icon-check:before {
  content: "\e907";
}
._icon-mail:before {
  content: "\e908";
}
._icon-s-twiter:before {
  content: "\e909";
}
._icon-s-facebook:before {
  content: "\e90a";
}
._icon-s-git:before {
  content: "\e90b";
}
._icon-arrow:before {
  content: "\e90c";
}
